{% load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> {% block title %}{%endblock%} </title>
    <link rel="stylesheet" href="{% static 'css/logstyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">ST COLLEGE</span>
    </div>
    <ul class="nav-links">
      
      <li>
        <a href="{% url 's_log' %}">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 's_log' %}">Dashboard</a></li>
        </ul>
      </li>

      <li>
        <a href="{% url 's_notify' %}">
          <i class='bx bx-bell icon' ></i>
          <span class="link_name">Notifications</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 's_notify' %}">Notifications</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="{% url 's_marklist' %}">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Mark List</span>
          </a>
          
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="{% url 's_marklist' %}">Mark List</a></li>
          
          
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="{% url 's_notefiles' %}">
            <i class="bx bx-cloud-upload" ></i>
            <span class="link_name">Upload</span>
          </a>
          
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="{% url 's_notefiles' %}">Upload</a></li>
          
          
        </ul>
      </li>
      <li>
        <a href="{% url 's_leave' %}">
          <i class="fas fa-calendar-week" ></i>
          <span class="link_name">Submit Leaves</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 's_leave' %}">Submit Leaves</a></li>
        </ul>
      </li>
      
      
      
      
      
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Change</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="">Email & Password</a></li>
          <li><a href="{% url 's_profile_update2' %}">Email</a></li>
          <li><a href="{% url 's_profile_update' %}">Password</a></li>
          
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="{{cr.image.url}}" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">{{cr.firstname}} </div>
        <div class="job">{{cr.semaster}}</div>
        
      </div>
      <a href="{% url 's_logout' %}"><i class='bx bx-log-out' ></i></a>
      
    </div>
  </li>
</ul>
  </div>
 
 </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text" ></span>
    </div>
    
    
      
    </div>
    {% block content %}{% endblock %}

    
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
  
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
  
</body>
</html>

